service: sf-image-processor
variablesResolutionMode: 20210326
frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.8
  region: ${opt:region, 'us-east-1'}
  lambdaHashingVersion: 20201221
  stage: ${opt:stage, 'dev'}
  iam:
    role:
      statements:
        - Effect: Allow
          Resource: !GetAtt ImageProcessingSF.Arn
          Action: states:StartExecution

custom:
  servicePrefix: sf-image-processor
  invokeLambda: arn:aws:lambda:${self:provider.region}:${aws:accountId}:function:${self:custom.servicePrefix}-${self:provider.stage}-invokeImageProcessing

plugins:
  - serverless-step-functions  

functions:
  invokeImageProcessing:
    handler: lambda_handlers/invoke_image_processing.invokeImageProcessing
    environment:
      SF: !GetAtt ImageProcessingSF.Arn

  getFileType:
    handler: lambda_handlers/get_file_type.get_file_type

  copyFile:
    handler: lambda_handlers/copy_to_destination.copy_file
    environment:
      DEST_BUCKET: !GetAtt ImageProcessingDestination.Arn

  resizeImage:
    handler: lambda_handlers/resize_image.resize
    environment:
      DEST_BUCKET: !GetAtt ImageProcessingDestination.Arn 

  writeToDB:
    handler: lambda_handlers/write_to_db.put_item
    environment:
      DEST_BUCKET: !GetAtt ImageProcessingDestination.Arn

  deleteFile:
    handler: lambda_handlers/delete_file.delete_file
    environment:
      DEST_BUCKET: !GetAtt ImageProcessingDestination.Arn      
    

stepFunctions:
  ${file(stepFunction.yml)}

resources:
  Resources:
    ImageProcessingSource:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.servicePrefix}-img-processing-source-bucket
        NotificationConfiguration:
          LambdaConfigurations: 
            - Event: s3:ObjectCreated:*
              Function: ${self:custom.invokeLambda}

    LambdaResourcePermission:
      Type: AWS::Lambda::Permission
      Properties: 
        Action: lambda:InvokeFunction
        FunctionName: ${self:custom.invokeLambda}
        Principal: s3.amazonaws.com
        SourceArn: !GetAtt ImageProcessingSource.Arn

    ImageProcessingDestination:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.servicePrefix}-img-processing-destination-bucket

    # create db
    # thumbnails table- pk : original    

    SFExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        Path: /
        RoleName: SFExecutionRole 
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - states.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: SFExecutionPolicy
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                -  Effect: "Allow"
                   Action:
                     - "lambda:InvokeFunction"
                   Resource: "*"
